<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>#aufschreib</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Le styles -->
	<link type="text/css" href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<style type="text/css">
		body {
			padding-top: 40px;
			padding-bottom: 40px;
			background-color: #eeeeee;
		}

		.form-signin {
			max-width: 330px;
			padding: 15px;
			margin: 0 auto;
			text-align: center;
		}

		.form-signin .form-signin-heading,
		.form-signin .form-control {
			position: relative;
			font-size: 16px;
			height: auto;
			padding: 10px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}

		.logo {
			color: #fff;
			font-size: 36px;
			letter-spacing: -1px;
			background-color: #000;
			border: 1px solid #000;
			border-radius: 4px;
		}

		.logo:hover {
			color: #fff;
		}

		.logo span {
			color: #C3D3DA
		}

		.logo:hover, .logo:focus {
			color: #fff;
			text-decoration: none;
		}


	</style>
</head>
<body>
<div class="container">
	<form class="form form-signin" role="form" action="/login" method="post">
		<div class="logo">#aufschrei<span>b</span></div>
		<h2 class="form-signin-heading">Please sign in</h2>

		<div class="form-group input-group">
			<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			<input type="text" name="username" class="form-control input-block-level" placeholder="User">
		</div>
		<div class="form-group input-group">
			<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
			<input type="password" name="password" class="form-control input-block-level" placeholder="Password">
		</div>
		<div class="form-group">
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		</div>
	</form>
</div>
<% if (message) { %>
<hr/>
<div class="alert alert-error">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Warning!</strong> <%= message %>
</div>
<% } %>
</body>
<!-- Le scripts -->
<script type="text/javascript" src="/static/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
</html>