/* General */
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, serif;
	/*min-height: 2000px;*/
	padding-top: 70px;
}

.process-img {
	height: 32px;
	width: 32px;
	background: transparent url(/static/images/spinner_squares_circle.gif) no-repeat center;
	float: left;
	margin-top: 4px;
	margin-right: 6px;
}

.glyphicon-custom-quote-left:before {
	content: "\275D";
}

.glyphicon-custom-hashtag:before {
	content: "\0023";
}

.glyphicon-custom-app:before {
	content: "\2328";
}


/* Popup Overlay */

#form-filter .form-group {
	display: inline-block;
	margin: 10px;
}

/* Logo */

.logo {
	color: #fff !important;
	font-size: 26px;
	letter-spacing: -1px;
}

.logo:hover {
	color: #fff;
}

.logo span {
	color: #C3D3DA
}

.logo:hover, .logo:focus {
	color: #fff;
	text-decoration: none;
}

/*@media (min-width: 979px) {*/
	/*body {*/
		/*padding-top: 50px;*/
	/*}*/
/*}*/

a {
	color: #477099;
	font-weight: bold;
	text-decoration: none
}

a:hover {
	text-decoration: underline
}

#jswarning {
	margin: 20px 20px 20px 20px;
}

.overlay-img {
	height: 100%;
	width: 100%;
	background: transparent url(/static/images/spinner_squares_circle.gif) no-repeat center;
}

#overlay-inline {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: 20000;
	background-color: #fff;
	opacity: .50;
}

#overlay {
	position: fixed;
	top: 70px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20000;
	background-color: #fff;
	opacity: .50;
}

/* Tweet */

.tweet {
	position: relative;
	margin-top: 8px;
	background-color: #fff;
	border: 1px groove #C3D3DA;
	padding: 2px 10px 4px 10px;
}

.tweet {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 2px;
}

.tweet-msg {
	margin: 8px 0 0;
	page-break-inside: avoid;
}

.tweet-msg {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 8px;
}

.tweet-counts {
	font-size: 10px;
}

.tweet-btns {
	display: inline;
	margin-right: 10px;
}

.btn-tweet-vote {
	padding: 2px 8px 2px 8px;
	font-size: 12px;
}


@media (max-width: 767px) {
	.btn-tweet-vote {
		line-height: 1.5;
		border-radius: 3px;
		padding: 1px 5px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.btn-tweet-vote {
		/*padding: 5px 10px;*/
		/*font-size: 12px;*/
		/*line-height: 1.5;*/
		/*border-radius: 3px;*/
		/*padding: 1px 5px;*/
	}
}

.tweet-classy {
	display: inline;
	font-size: 11px;
}

.tweet-human {
	font-weight: bold;
	display: inline;
	margin-right: 10px;
}

.tweet-machine {
	font-weight: bold;
	display: inline;
}

/* User */
.user {
	position: relative;
	padding: 8px;
	margin-bottom: 10px;
	border: 1px solid #DDDDDD;
	background-color: #f8f8f8;
	min-width: 260px;
}

.user {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.user-counts {
	margin-right: 10px;
}

.user-name {
	font-size: 20px;
	display: inline;
	margin-right: 10px;
}

.user-img {
	border: #d6e9c6 solid 1px;
	margin-right: 4px;
	margin-bottom: 4px;
	display: inline;
	width: 48px;
	height: 48px;
}

.user-btns {
	display: inline;
}

#btn-next {
	min-height: 36px;
	line-height: 36px;
	width: 100%;
	padding: 8px;
	text-align: center;
}

/*.logout {*/
	/*padding-top: 4px;*/
/*}*/

/* Stat */

.piechart {
	margin: 0;
	padding: 0;
}

#stats_time_humanvis .fillrect {
	fill: #fff;
	stroke: #fff;
}

.off-left-hidden {
	position: absolute;
	left: -10000px;
}

.navbar-stats {
	min-height:28px;
	background-color: #fff;
	border: 0;
	border-bottom: 1px solid #b9b9ba;
	margin-bottom: 8px;
}

.navbar-stats-footer {
	background-color: #fff;
	border: 0;
	border-top: 1px solid #b9b9ba;
	padding-top: 4px;
}

.navbar-stats-footer .navbar-nav > li > a {
	padding: 2px 4px 2px 6px;
	font-size: 12px;
	line-height: 18px;
	color: #555555;
	margin: 0;
}

#navbar-content {
	background-color: #fff;
}

#navbar-content .navbar-nav {
	border-radius: 4px 4px 4px 4px;
	border: 1px solid #E6E6E6;
	padding: 4px;
	margin-bottom: 4px;
	margin-right: 4px;
}

#navbar-content .navbar-brand {
	font-size: 14px;
	line-height: 14px;
	margin: 6px 0 0;
	padding: 0 8px 0 4px;
	min-width: 50px;
}

#navbar-content .navbar-nav  {
	/*margin-top: 2px;*/
	/*margin-bottom: 2px;*/
}

#navbar-content .navbar-nav > li {
	padding: 0;
	margin: 0;
}

#navbar-content .navbar-nav > li > a {
	height: 26px;
	padding: 2px 4px 2px 6px;
	margin: 0 4px 0 0;
}

#navbar-content .input-group {
	padding: 0;
	margin: 0;
}

#navbar-content .input-group .input-group-addon {
	margin: 0;
	padding: 0 4px;
}

.input-group .small-input {
	width: 60px;
}

.input-group .small-input[type="number"] {
	text-align: right;
}

#navbar-content .input-group input {
	height: 26px;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
}

#navbar-content .navbar-nav .navbar-form {
	padding: 0;
	margin: 0;
	height: 26px;
}

#navbar-content .navbar-form-orientations .inline {
	float: left;
}

#navbar-content .navbar-form-orientations .input-group {
	width: 80px;
	margin-right: 7px;
}

#cloud_angles_view {
	padding-left: 2px;
	padding-right: 8px;
}

/* Commands */

#statcache-result {
	min-height: 30px;
}

.cmd-well {
	border-radius: 4px 4px 4px 4px;
	border: 1px solid #E6E6E6;
	padding: 6px 12px 12px;
}

#form-newuser {
	margin-bottom: 0;
}

/* globals */


.centered {
	text-align: center;
}

