<% include stats_head %>

<div id="count_slider"></div>


<div class="well">
    <form role="form" class="form-inline">
        <div class="form-group">
            <label for="count_edit_min">Von</label>
            <input id="count_edit_min" class="form-control hasDatepicker" type="text"/>
        </div>
        <div class="form-group">
            <label for="count_edit_max">Bis</label>
            <input id="count_edit_max" class="form-control hasDatepicker" type="text"/>
        </div>
    </form>
</div>

<% include stats_content %>

<% include stats_foot %>

<div id="count_pie"><svg></svg></div>

