<% include stats_head %>

<div id="<%- container_id %>temp" class="hidden">
		<ul class="nav navbar-nav" id="<%- container_id %>view">
			<li><div class="navbar-desc">Ansicht:</div></li>
			<li><a class="btn btn-default" title="Fl채che von 0 ausrichten" value="zero" href="#">Fl채che</a></li>
			<li><a class="btn btn-default" title="Fl채che mittig ausrichten" value="wiggle" href="#">Mittig</a></li>
			<li><a class="btn btn-default" title="Auf ganze Fl채che expandieren" value="expand" href="#">Expandieren</a></li>
		</ul>
</div>
<% include stats_content %>